In [13]:
import sys
import os

In [14]:
sys.path.append(r'C:/Users/lenovo')

In [15]:
from script import EDA_SCRIPT

In [16]:
data_path = 'C://Users//lenovo//Downloads//archive2//fatal-police-shootings-data.csv'

In [17]:
df = EDA_SCRIPT(data_path)

DataFrame :

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False

_____________________________________________________________________
Data Information :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5416 entries, 0 to 5415
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       5416 non-null   int64
 1   name                     5416 non-null   object
 2   date                     5416 non-null   object
 3   manner_of_death          5416 non-null   object
 4   armed                    5189 non-null   object
 5   age                      5181 non-null   float64
 6   gender                   5414 non-null   object
 7   race                     4895 non-null   object
 8   city                     5416 non-null   object
 9   state                    5416 non-null   object
 10  signs_of_mental_illness  5416 non-null   bool
 11  threat_level             5416 non-null   object
 12  flee                     5167 non-null   object
 13  body_camera              5416 non-null   bool
dtypes: bool(2), float64(1), int64(1), object(10)
memory usage: 518.5+ KB

None

_____________________________________________________________________
Data Describtion :

                id          age
count  5416.000000  5181.000000
mean   3010.398264    37.117931
std    1695.786456    13.116135
min       3.000000     6.000000
25%    1545.750000    27.000000
50%    3009.500000    35.000000
75%    4486.250000    46.000000
max    5927.000000    91.000000

_____________________________________________________________________

NameError: name 'ranage' is not defined

In [ ]:
df.mean()

df.shape()

In [ ]:
df.isna().any()